
.over{
    display: flex;
    justify-content: center;
    margin-top: 432px;
    margin-bottom: 100px;
}
.over image{
    width: 320px;
    height: 320px;
}
.conclude{
    text-align: center;
}
.word{
    font-size: 44px;
    color: #427668;
    font-weight: 700;

}
.two{
    margin-top: 20px;
}
.btn{
    position: absolute;
    left: 200px ;
    right: 200px ;
    margin-top: 200px;
    border-radius: 50px ;
    background-color: #82a89e;
    color: #ffffff;
    font-size: large;
    padding: 10px 80px ;
}